{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add to the Grocery List  {% endblock %}</h1>
    <table>
    {% for post in posts %}
        <tr>
        <td><a href="{{ url_for('post', post_id=post['id']) }}">
                <h5>{{ post['title'] }}</h5>
            </a>
        </td>
        <td>
            <h20>
                <span class="badge badge-light">{{ post['created'][:post['created'].rfind(":")] }}
                </span>
            </h20>
        </td>
        <td>
            <h20>
            <a href="{{ url_for('edit', id=post['id'])}}">
                <span class="badge badge-warning">Edit
                </span>
            </a>
            </h20>
        <td>
        <!-- <hr> -->
    {% endfor %}
    </table>
{% endblock %}